body
{
    background: url(Circle_cos_sin.gif);
    
}
h1, h2 {
    text-align: center;
}
.conversion {
    text-align: center;
    justify-content: center;
    border: 1.5px black solid ;
    padding: 20px 15px;
}
 .result
{
    display: flex start ;
    justify-content: center;
    text-align: center;
    border: 1.5px black solid ;
    padding: 20px 15px;
    min-width: 200px;
} 
.mainbody{
    height: 100vh;
    
}
.conversion
{
    background-color: rgba(245, 245, 220, 0.774);
}
.result{
    background-color: rgba(86, 245, 171, 0.774);
}